.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
}

@media screen and (max-width:880px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100vh;
        width: 40%!important;
        background-color: #1F2041;
        flex-direction: column;
        justify-content: flex-start!important;
        display: none!important;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 1;
        border-radius: 30px 0px 0px 30px;
    }
    .nav-links li{
        margin-bottom: 20px;
        padding: 30px;
        border-bottom: 1px solid #417B5A;
        width: 100%;
        text-align: center;
    }
    .nav-links li a{
        transition: 0.5s ease-in-out;
    }
    .nav-links li a:hover{
        text-decoration: underline;
        transition: 0.5s ease-in-out;
    }
    .nav-links li:first-child{
        margin-top: 100px;
    }
    .burger{
        display: block;
        z-index: 1;
    }
}

.nav-active{
    display: flex!important;
    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
    transform: translateX(0%);
}

.line1,.line2,.line3{
    transition: 0.5s ease-in;
}

.toggle .line1 {
    transform: translate(-5px, 8px) rotate(-45deg);
    transition: 0.5s ease-in;
}
.toggle .line2 {
    opacity: 0;
    transition: 0.5s ease-in;
}
.toggle .line3 {
    transform: translate(-5px, -8px) rotate(45deg);
    transition: 0.5s ease-in;
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }
    100% {
        display: flex;
        opacity: 1;
    }
}
